<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <!-- <?= $breadcrumb ?? ''; ?> -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data</th>
                        <th scope="col">Familia</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let proposition of propositions"></tbody>
                        
                        <tr>
                            <th scope="row"> {{ proposition.a01_codigo }} </th>
                            <td> {{ proposition.a01_descricao }} </td>
                            <td> {{ proposition.a01_data.dayOfMonth }}/{{ proposition.a01_data.month }}/{{ proposition.a01_data.year }}</td>
                            <td> {{ proposition.a01_familia }} </td>
                            <td> <button type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-target="#propositionData" aria-expanded="false" aria-controls="propositionData"> + </button></td>
                            
                          </tr>
  
                          <tr>
                            <td colspan="5" class="collapse col-12" id="propositionData">
  
                              <div class="collapse col-12" id="propositionData">
                                <div class="input-group col-12">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Descrição</span>
                                  </div>
                                  <textarea class="form-control" aria-label="With textarea"></textarea>
                                </div>
                              </div>
                            </td>
                          </tr>
                      
                      
                    </tbody>





                  </table>










                  
                    <div class="portlet light">
                        <div class="portlet-body">
                          <div class="form-row">
                            <div class="form-group col-sm-7">
                              <input type="text" class="form-control input" id="factorname" placeholder="Nome do Fator" name="nameFactor">
                            </div>
                            <div class="form-group col-10 col-sm-4">
                              <input type="text" class="form-control input" id="factortag" placeholder="Sigla do Fator" name="tagFactor">
                            </div>
                            <div class="form-group col">
                              <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#factorData" aria-expanded="false" aria-controls="factorData"><span class="glyphicon glyphicon-music"> + </span></button>
                            </div>
                            <div class="collapse col-12" id="factorData">
                              <div class="input-group col-12">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Descrição</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                              </div>
                            </div>
                            <!-- <div class="form-group col">
                              <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-music"></span>.</button>
                            </div> -->
                            <!-- <div class="form-group col-md-4 col-sm-4">
                              <label class="col-form-label">Sigla do Fator:</label>

                              <input type="text" class="form-control input" id="siglaFator" placeholder="" name="siglaFator">

                              <input type="text" class="form-control input" id="siglaFator" placeholder="" name="siglaFator">
                            </div> -->
                            <!-- <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-info">Salvar</button>
                            </div> -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>