<div class="container">
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Novo Criterio</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="newFactorDescription">Nome</label>
                <input id="newFactorDescription" class="form-control" name="newFactorDescription" [(value)]="newFactorDescription" #factorDescription>
                <hr />
                <label for="newFactorTag">Sigla</label>
                <input id="newFactorTag" class="form-control" name="newFactorTag" [(value)]="newFactorTag" #factorTag>
                <hr />
                <label for="newFactorSummary">Resumo</label>
                <textarea class="form-control" id="newFactorSummary" rows="3" name="newFactorSummary" [(value)]="newFactorSummary" #factorSummary></textarea>
                <hr />
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="newFactorSelected" [(checked)]="newFactorSelected" #factorSelected>
                  <label class="form-check-label" for="newFactorSelected">
                    Replicar Seção
                  </label>
                </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="newFactor(factorTag.value, factorDescription.value, factorSummary.value, factorSelected.checked)">Adicionar</button>
        </div>
      </ng-template>
    <button class="btn btn-info mt-2 float-right" (click)="open(content)"> Novo Criterio </button>
    <br />
    <br />
    <br />
    <br />
    <span *ngFor="let factor of factors">
        <div class="row mt-3">
            <div class="col-12 col-md-2 h2">{{factor.tag}}</div>
            <div class="col-12 col-md-7">
                {{factor.description}}<br />
                <span class="text-muted">{{factor.summary}}</span>
            </div>
            <div class="col-6 col-md-2 mt-2"><button class="btn btn-outline-primary" data-toggle="collapse" attr.data-target="#newSection{{factor.id}}"> Nova Seção </button> </div>
            <div class="col-6 col-md-1 mt-2">
              <button class="btn btn-info" data-toggle="collapse" attr.data-target="#sections{{factor.id}}" [disabled]="factor.sections.length == 0" (click)="toggle()">
                <fa [name]="visible? 'caret-up': 'caret-down'"></fa>
              </button>
            </div>

        </div>
        <div class="row collapse" id="sections{{factor.id}}">
            <div class="card col-12 col-md-3 mt-2" *ngFor="let section of factor.sections">
                <div class="card-body">
                    <h4 class="card-title">{{section.tag}}</h4>
                    <p class="card-text">{{section.description}}</p>
                    <p class="text-muted">{{section.summary}}</p>
                </div>
            </div>

        </div>
        <div class="card col-12 col-md-3 collapse mt-2" id="newSection{{factor.id}}">
            <div class="card-body">
                <p class="card-text"><input type="text" placeholder="Tag" name="newSectionTag" id="newSectionTag" [(value)]="newSectionTag" #sectionTag></p>
                <p class="card-text"><input type="text" placeholder="Description" name="newSectionDescription" id="newSectionDescription" [(value)]="newSectionDescription" #sectionDescription></p>
                <p class="text-muted"><input type="text" placeholder="Summary" name="newSectionSummary" id="newSectionSummary" [(value)]="newSectionSummary" #sectionSummary></p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="newSectionSelected" [(checked)]="newSectionSelected" #sectionSelected>
                  <label class="form-check-label" for="newSectionSelected">
                    Replicar
                  </label>
                </div>
                <br /><br />
                <button type="button" class="btn btn-outline-primary ml-2 mr-1" (click)="newSection(sectionTag.value, sectionDescription.value, sectionSummary.value, sectionSelected.checked, factor)">Adicionar</button>
                <button type="button" class="btn btn-outline-danger ml-1 mr-1" data-toggle="collapse" attr.data-target="#newSection{{factor.id}}"> Cancelar </button>
            </div>
        </div>

        <div><hr /></div>
    </span>


</div>
