<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Novo Criterio</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="newFactorDescription">Nome</label>
          <input id="newFactorDescription" class="form-control" name="newFactorDescription"
            [(value)]="newFactorDescription" #factorDescription>
          <hr />
          <label for="newFactorTag">Sigla</label>
          <input id="newFactorTag" class="form-control" name="newFactorTag" [(value)]="newFactorTag" #factorTag>
          <hr />
          <label for="newFactorSummary">Resumo</label>
          <textarea class="form-control" id="newFactorSummary" rows="3" name="newFactorSummary"
            [(value)]="newFactorSummary" #factorSummary></textarea>
          <hr />
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="newFactorSelected"
              [(checked)]="newFactorSelected" #factorSelected>
            <label class="form-check-label" for="newFactorSelected">
              Replicar Seção
            </label>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"
        (click)="newFactor(factorTag.value, factorDescription.value, factorSummary.value, factorSelected.checked)">Adicionar</button>
    </div>
  </ng-template>
  <button class="btn btn-info mt-2 float-right" (click)="open(content)"> Novo Criterio </button>
  <br />
  <br />
  <br />
  <br />
  <div class="col-12">

      <table>
        <tr>
          <th class="col-6 col-md-2 text-center">Nome</th>
          <th class="col-2 col-md-2 text-center">Facilitador</th>
          <th class="col-2 col-md-2 text-center">Especialista</th>
          <th class="col-2 col-md-2 text-center">Analista</th>
        </tr>
          <tr *ngFor="let profile of profiles">
            <td ><p class="card-text">{{ profile.name }}</p></td>
            <td class="custom-checkbox text-center">
                <input type="checkbox" id="{{profile.id * -1}}" [checked]="profile.admin" (click)="changeAdmin(profile.id, changeAdminCheck.checked)" #changeAdminCheck>
                <label for="{{profile.id * -1}}"></label>
            </td>
            <td class="custom-checkbox text-center" >
                <input type="checkbox" id="{{profile.id * -2}}" [checked]="profile.expert" (click)="changeExpert(profile.id, changeExpertCheck.checked)" #changeExpertCheck>
                <label for="{{profile.id * -2}}"></label>
            </td>
            <td class="custom-checkbox text-center" >
                <input type="checkbox" id="{{profile.id * -3}}" [checked]="profile.analyst" (click)="changeAnalyst(profile.id, changeAnalystCheck.checked)" #changeAnalystCheck>
                <label for="{{profile.id * -3}}"></label>
            </td>
          </tr>
      </table>


      <div class="d-flex col-12 border-bottom border-info" *ngFor="let suggestedUser of suggestedUsers" >

        <h6 class="d-flex col-10 mt-2  align-items-center text-truncate"><span class="font-weight-bolder">{{suggestedUser.name}}</span> &nbsp; <span class="text-muted">{{suggestedUser.role}}</span></h6>
        <a class="mx-auto display-4 mt-2 ml-3 col-2" (click)="addProfile(suggestedUser.id, suggestedUser.name )">
          <h5 class="float-right hover-green">
            <fa name="plus"></fa>
          </h5>
        </a>
      </div>


  </div>
  <span *ngFor="let factor of factors">
    <div class="row mt-3">
      <div class="col-12 col-md-2 h2 factor-item d-flex align-items-center factor-tag">{{factor.tag}}</div>
      <div class="col-12 col-md-7 factor-item ">
        {{factor.description}}<br />
        <span class="text-muted">{{factor.summary}}</span>
      </div>
      <div class="col-6 col-md-2 d-flex align-items-center">
        <button class="btn btn-outline-primary" data-toggle="collapse" attr.data-target="#newSection{{factor.id}}"> Nova
          Seção </button> </div>
      <div class="col-6 col-md-1 text-center d-flex align-items-center">
        <button class="btn btn-info btn-collapse float-left mr-3" data-toggle="collapse"
          attr.data-target="#sections{{factor.id}}" [disabled]="factor.sections.length == 0" (click)="toggle()">
          <fa [name]="visible? 'caret-up' : 'caret-down'"></fa>
        </button>
        <a class="mx-auto display-4 mt-2 ml-3" (click)="deleteFactor(factor.id)">
          <h3 class="d-inline-block float-right  hover-red">
            <fa name="minus"></fa>
          </h3>
        </a>
      </div>
    </div>
        <div class="row collapse" id="sections{{factor.id}}">
            <div class="card col-12 col-md-3 mt-2" *ngFor="let section of factor.sections">
                <div class="card-body">
                    <div class="float-right">
                      <button class="btn btn-outline-danger" (click)="deleteSection(section.id)">
                        <fa name="times"></fa>
                      </button>
                    </div>
                    <h4 class="card-title">{{section.tag}}</h4>
                    <p class="card-text">{{section.description}}</p>
                    <p class="text-muted">{{section.summary}}</p>
                </div>
            </div>
    </div>
    <div class="card col-12 col-md-3 collapse mt-2" id="newSection{{factor.id}}">
      <div class="card-body">
        <p class="card-text"><input type="text" placeholder="Tag" name="newSectionTag" id="newSectionTag"
            [(value)]="newSectionTag" #sectionTag></p>
        <p class="card-text"><input type="text" placeholder="Description" name="newSectionDescription"
            id="newSectionDescription" [(value)]="newSectionDescription" #sectionDescription></p>
        <p class="text-muted"><input type="text" placeholder="Summary" name="newSectionSummary" id="newSectionSummary"
            [(value)]="newSectionSummary" #sectionSummary></p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="" id="newSectionSelected"
            [(checked)]="newSectionSelected" #sectionSelected>
          <label class="form-check-label" for="newSectionSelected">
            Replicar
          </label>
        </div>
        <br /><br />
        <button type="button" class="btn btn-outline-primary ml-2 mr-1"
          (click)="newSection(sectionTag.value, sectionDescription.value, sectionSummary.value, sectionSelected.checked, factor)">Adicionar</button>
        <button type="button" class="btn btn-outline-danger ml-1 mr-1" data-toggle="collapse"
          attr.data-target="#newSection{{factor.id}}"> Cancelar </button>
      </div>
    </div>

  </span>
  <div class="group col-6">
    <h3>Grupos</h3>
    <button type="button" class="btn-circle btn btn-outline-primary"><fa name="plus"></fa></button>
  </div>

</div>
