<div class="container">
  <table class="table">
    <thead>
      <tr class="row">
        <th style="display:none;" class="col-0">Proposition Id</th>
        <th class="col-5 col-md-3">Descrição</th>
        <th class="col-5 col-md-3">Resumo</th>
        <th class="d-none d-lg-table-cell col-0 col-md-2">Data</th>
        <th class="d-none d-lg-table-cell col-0 col-md-2">Coleção</th>
        <th class="col-2"> &nbsp; </th>
      </tr>
    </thead>
    <tr *ngFor="let proposition of propositions" class="row">
      <td style="display:none;" class="col-0">{{ proposition.id }}</td>
      <td class="col-5 col-md-3">{{ proposition.description }}</td>
      <td class="col-5 col-md-3">{{ proposition.summary }}</td>
      <td class="d-none d-lg-table-cell col-0 col-md-2">{{ proposition.date | date: 'dd/MM/yyyy' }}</td>
      <td class="d-none d-lg-table-cell col-0 col-md-2">{{ proposition.collection }}</td>
      <td class="col-2"><button (click)="selectProposition(proposition.id)" class="btn btn-outline-primary btn-select"> <fa name="caret-right"></fa> </button></td>
    </tr>
    <tr class="row">
 
          <td style="display:none;" class="col-0"></td>
          <td class="col-5 col-md-3"><input type="text" name="newDescription" id="newDescription" [(value)]="newDescription" #description></td>
          
          <td class="col-5 col-md-3"><input type="text" name="summary" id="summary" [(value)]="newSummary" #summary></td>
          
          <td class="d-none d-lg-table-cell col-0 col-md-2"><input type="date" name="newDate" id="newDate" [(value)]="newDate" #date></td>
          <td class="d-none d-lg-table-cell col-0 col-md-2"><input type="text" name="newCollection" id="newCollection" [(value)]="newCollection" #collection></td>
          <td class="col-2"><button (click)="newProposition(description.value, summary.value, date.value, collection.value)" class="btn btn-outline-primary btn-select"> <fa name="plus"></fa> </button></td>


      </tr>
    
    
   
  </table>
</div>
