<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th style="display:none;">Proposition Id</th>
        <th>Description</th>
        <th>Summary</th>
        <th>Date</th>
        <th>Collection</th>
        <th> &nbsp; </th>
      </tr>
    </thead>
    <tr *ngFor="let proposition of propositions">
      <td style="display:none;">{{ proposition.id }}</td>
      <td>{{ proposition.description }}</td>
      <td>{{ proposition.summary }}</td>
      <td>{{ proposition.date | date: 'EEEE MMMM dd, yyyy' }}</td>
      <td>{{ proposition.collection }}</td>
      <td><button (click)="selectProposition(proposition.id)"> <h3>></h3> </button></td>
    </tr>
    <tr>
 
          <td style="display:none;"></td>
          <td><input type="text" name="newDescription" id="newDescription" [value]="newDescription"></td>
          
          <td><input type="text" name="newSummary" id="newSummary" [value]="newSummary"></td>
          
          <td><input type="date" name="newDate" id="newDate" [value]="newDate"></td>
          <td><input type="text" name="newCollection" id="newCollection" [value]="newCollection"></td>
          <td><button class="btn btn-light" (click)="newProposition()"> <h3>+</h3> </button></td>


      </tr>
    
    
   
  </table>
</div>
