<div class="container">
    <h1>Evidence degrees</h1>
    <table class="table table-light table-striped">
        <thead class="thead-dark">
            <tr class="row">
                <th scope="col" class="col-4 col-md-2">Sigla</th>
                <th scope="col" class="col-8 col-md-2">Criterio</th>
                <!-- <th scope="col" class="hidden-xs hidden-sm d-none d-lg-table-cell">Attractiveness</th>
                <th scope="col" class="hidden-xs hidden-sm d-none d-lg-table-cell">Disharmony</th> -->
                <th scope="col" class="col-2 col-md-2">Peso</th>
                <th scope="col" class="hidden-xs hidden-sm d-none d-lg-table-cell col-md-3">Confiança</th>
                <th scope="col" class="hidden-xs hidden-sm d-none d-lg-table-cell col-md-3">Desconfiança</th>
            </tr>
        </thead>

        <tr *ngFor="let factor of factors" class="row">
            <th scope="row" class="col-4 col-md-2">  {{factor.tag}} </th>
            <td class="col-8 col-md-2"> {{factor.description}} </td>
            <!-- <td class="hidden-xs hidden-sm d-none d-lg-table-cell"> <input type="text"> </td>
            <td class="hidden-xs hidden-sm d-none d-lg-table-cell"> <input type="text"> </td>  -->
            <td class="col-2 col-md-2">
                <h3 class="d-inline-block">
                    <a (click)="weightChange('dec')">
                        <fa name="caret-down"></fa>
                    </a>
                </h3>
                {{ weight }}
                <h3 class="d-inline-block">
                    <a (click)="weightChange('inc')">
                        <fa name="caret-up"></fa>
                    </a>
                </h3>
            </td>
            <td class="col-12 col-md-3">
                    <pd-expert-value [valor]="gce"></pd-expert-value>
                </td>
                <td class="col-12 col-md-3">
                    
                    <pd-expert-value [valor]="gin"></pd-expert-value>
                </td>
        </tr>

    </table>
    <button class="btn btn-info mt-2 float-right" click="">Enviar</button>
    <!-- <script>
        var rangeSlider = function(){
        var slider = $('.celula'),
            range = $('.custom-range'),
            value = $('.range-slider__value');
            
        slider.each(function(){

            value.each(function(){
            var value = $(this).prev().attr('value');
            $(this).html(value);
            });

            range.on('input', function(){
            $(this).next(value).html(this.value);
            });
        });
        };

        rangeSlider();
    </script> -->
    
</div>
