<div class="container">
  <table class="table">
    <thead>
      <tr class="row">
        <th style="display:none;">Organization Id</th>
        <th class="col-5">Description</th>
        <th class="col-5">Summary</th>
        <th class="col-2"> &nbsp; </th>
      </tr>
    </thead>
    <tr *ngFor="let organization of organizations" class="row">
      <td style="display:none;">{{ organization.id }}</td>
      <td class="col-5">{{ organization.description }}</td>
      <td class="col-5">{{ organization.summary }}</td>

      <td class="col-2"><button (click)="selectOrganization(organization.id)" class="btn btn-outline-primary btn-select"> <fa name="caret-right"></fa> </button></td>
    </tr>
    <tr class="row">
 
          <td style="display:none;"></td>
          <td class="col-5"><input type="text" name="newDescription" id="newDescription" [value]="newDescription" #description></td>
          
          <td class="col-5"><input type="text" name="newSummary" id="newSummary" [value]="newSummary" #summary></td>

	  <td class="col-2"><button (click)="newOrganization(description.value, summary.value)" class="btn btn-outline-primary btn-select"> <fa name="plus"></fa></button></td>


      </tr>
    
    
   
  </table>
</div>
